body {
    background-image: url("../images/bg.jpg");
    background-size: 100%;
    font-size: 18px;
}

.container {
    background: black;
    color: white;
    width: 60%;
    margin: 50px auto;
    text-align: center;
    padding: 5px;
}

#header {
    font-family: 'Fredericka the Great', cursive;
}

#start-quiz {
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 20px
}

#submit-quiz {
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 20px
}

#time-left {
    color: red;
    font-family: 'Fredericka the Great', cursive;
}

#all-done {
    color: royalblue;
    font-family: 'Fredericka the Great', cursive;
}

#questions {
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
}